---
const { url, title } = Astro.props;
---
<style>
    li {
        list-style: none;
        line-height: 2rem;
        padding-left: 0px;
        margin-left: 0px;
        display: ;
    }
</style>
<li class="blogItem"><a href={url}>{title}</a></li>